<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>SignUp.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RecordingIdToSession</servlet-name>
        <servlet-class>controllers.Servlets.RecordingIdToSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecordingIdToSession</servlet-name>
        <url-pattern>/RecordingIdToSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetRoleForCoursePage</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.GetRoleForCoursePage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetRoleForCoursePage</servlet-name>
        <url-pattern>/GetRoleForCoursePage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.Servlets.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controllers.Servlets.ProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentCourseServlet</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.StudentCourseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentCourseServlet</servlet-name>
        <url-pattern>/StudentCourseServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteParticipantStudentServlet</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.DeleteParticipantStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteParticipantStudentServlet</servlet-name>
        <url-pattern>/DeleteParticipantStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationForCourse</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.RegistrationForCourse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationForCourse</servlet-name>
        <url-pattern>/RegistrationForCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecordingIdCourseToSession</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.RecordingIdCourseToSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecordingIdCourseToSession</servlet-name>
        <url-pattern>/RecordingIdCourseToSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUpdateCourse</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.GetUpdateCourse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUpdateCourse</servlet-name>
        <url-pattern>/GetUpdateCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetParticipantUpdate</servlet-name>
        <servlet-class>controllers.Servlets.GetParticipantUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetParticipantUpdate</servlet-name>
        <url-pattern>/GetParticipantUpdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListCourseForCoursePage</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.ListCourseForCoursePage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListCourseForCoursePage</servlet-name>
        <url-pattern>/ListCourseForCoursePage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LocaleLangServlet</servlet-name>
        <servlet-class>controllers.Servlets.LocaleLangServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SetLocale</servlet-name>
        <servlet-class>controllers.Servlets.SetLocale</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetLocale</servlet-name>
        <url-pattern>/SetLocale</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LocaleLangServlet</servlet-name>
        <url-pattern>/LocaleLangServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.Servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>controllers.Servlets.AddCourse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/AddCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditCourse</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.EditCourse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditCourse</servlet-name>
        <url-pattern>/EditCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListCourse</servlet-name>
        <servlet-class>controllers.Servlets.ListCourse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListCourse</servlet-name>
        <url-pattern>/ListCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controllers.Servlets.SignUp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getIdParticipant</servlet-name>
        <servlet-class>controllers.Servlets.GetIdParticipant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getIdParticipant</servlet-name>
        <url-pattern>/HTML/getIdParticipant</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userRegistration</servlet-name>
        <servlet-class>controllers.Servlets.RegistrationUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userRegistration</servlet-name>
        <url-pattern>/HTML/userRegistration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteAjaxJson</servlet-name>
        <servlet-class>controllers.Servlets.DeleteParticipant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteAjaxJson</servlet-name>
        <url-pattern>/HTML/deleteAjaxJson</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateAjaxJson</servlet-name>
        <servlet-class>controllers.Servlets.UpdateParticipant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateAjaxJson</servlet-name>
        <url-pattern>/HTML/updateAjaxJson</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAjaxJson</servlet-name>
        <servlet-class>controllers.Servlets.AddParticipant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAjaxJson</servlet-name>
        <url-pattern>/HTML/addAjaxJson</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sendAjaxJson</servlet-name>
        <servlet-class>controllers.Servlets.AjaxJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sendAjaxJson</servlet-name>
        <url-pattern>/HTML/sendAjaxJson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>controllers.Servlets.ServletsForCoursePage.DeleteCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/DeleteCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProfile</servlet-name>
        <servlet-class>controllers.Servlets.DeleteProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProfile</servlet-name>
        <url-pattern>/DeleteProfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListCompletedCourseServlet</servlet-name>
        <servlet-class>controllers.Servlets.ListCompletedCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCompletedCourseServlet</servlet-name>
        <url-pattern>/ListCompletedCourseServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAdminInfo</servlet-name>
        <servlet-class>controllers.Servlets.servletsForAdmin.ServletAdminInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdminInfo</servlet-name>
        <url-pattern>/ServletAdminInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletChangeRole</servlet-name>
        <servlet-class>controllers.Servlets.servletsForAdmin.ServletChangeRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangeRole</servlet-name>
        <url-pattern>/ServletChangeRole</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletGetUpdateUser</servlet-name>
        <servlet-class>controllers.Servlets.servletsForAdmin.ServletGetUpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGetUpdateUser</servlet-name>
        <url-pattern>/ServletGetUpdateUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletRecordingIdUser</servlet-name>
        <servlet-class>controllers.Servlets.servletsForAdmin.ServletRecordingIdUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRecordingIdUser</servlet-name>
        <url-pattern>/ServletRecordingIdUser</url-pattern>
    </servlet-mapping>


</web-app>
