
/*input[type=text], select {*/
    /*width: 50%;*/
    /*padding: 12px 20px;*/
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*box-sizing: border-box;*/
/*}*/

/*input[type=password], select {*/
    /*width: 50%;*/
    /*padding: 12px 20px;*/
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*box-sizing: border-box;*/
/*}*/

/*input[type=submit] {*/
    /*width: 20%;*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*padding: 14px 20px;*/
    /*margin: 8px 0;*/
    /*border: none;*/
    /*border-radius: 4px;*/
    /*cursor: pointer;*/
/*}*/

a[type=button] {
    text-decoration-color: #e07fff;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.sign-up {
    position: relative;
    margin: 50px auto;
    width: 400px;
    padding: 33px 25px 29px;
    background: white;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
input {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sign-up-select {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
}

.sign-up-input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
}
.sign-up-input:focus {
    border-color: #e07fff;
    outline: none;
    -webkit-box-shadow: inset 0 -2px #a95daf;
    box-shadow: inset 0 -2px #a95daf;
}

.sign-up-title {
    margin: -25px -25px 25px;
    padding: 15px 25px;
    line-height: 35px;
    font-size: 26px;
    font-weight: 300;
    color: #aaa;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    background: #f7f7f7;
}

.sign-up-title-select {
    margin: -25px -25px 25px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
}

.sign-up-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.43);
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #a95daf;
    border: 0;
    border-bottom: 2px solid #a95daf;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #a95daf;
    box-shadow: inset 0 -2px #a95daf;
}
.sign-up-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}